@{
    ViewBag.Title = "Investment";
    ViewBag.Menu = "Investment";
}
@section styles{

}


<script type="text/javascript" src="~/Scripts/Feature/Investment/alpha.investment.js"></script>


@Html.Partial("_HeaderPartial")

<div class="container theme-showcase margin-bottom" data-ng-controller="investCtrl" data-ng-init="init()">
    <div class="in row">
        <div class="col-sm-12">

            @Html.Partial("_SideLayout")
            <div class="col-sm-8">

                <div class="">
                    <h3>Financial Goal</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>Calculator</b></div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <th>
                                        <div class="form-group">
                                            <label for="fga">Goal Amount:</label>
                                            <input type="text" ng-model="calculator.GoalAmount"
                                                   onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" id="fga">
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="fga">Time Period :</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)"
                                                   class="form-control" ng-model="calculator.Year" id="fga" placeholder="Years">
                                            
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            
                                            <label for="fga">&nbsp;</label>
                                            <input type="text" class="form-control" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" ng-model="calculator.Month" id="fga" placeholder="Months">
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="high-risk">High Risk Portfolio Percentage  (%):</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" ng-model="calculator.HighRiskPercentage" class="form-control" id="high-risk">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="medium-risk">Medium Risk Portfolio Percentage  (%):</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" ng-model="calculator.MedRiskPercentage" id="medium-risk">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="low-risk">Low Risk Portfolio Percentage  (%):</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" ng-model="calculator.LowRiskPercentage" id="low-risk">

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="interest-range">High Interest Range (%):</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" ng-model="calculator.HighInterestFrom" id="interest-range-from1" placeholder="From"><br>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" ng-model="calculator.HighInterestTo" id="interest-range-to1" placeholder="To">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="interest-range">Medium Interest Range (%):</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" id="interest-range-from2" ng-model="calculator.MedInterestFrom" placeholder="From"><br>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" id="interest-range-to2" ng-model="calculator.MedInterestTo" placeholder="To">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="interest-range">Low Interest Range (%):</label>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" id="interest-range-from3" ng-model="calculator.LowInterestFrom" placeholder="From"><br>
                                            <input type="text" onkeypress="return iAplhaUtility.helpers.handlers.checkNonNumericCharacters(event)" class="form-control" id="interest-range-to3" ng-model="calculator.LowInterestTo" placeholder="To">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-warning pull-right" ng-click="calculateSubmit()" style="width:50%">Submit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col-sm-12 charting">
                    <div id="investment_chart_container" style="height: 290px">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
