@{
    ViewBag.Title = "Transaction";
    ViewBag.Menu = "Transaction";
    
}

<script type="text/javascript" src="~/Scripts/Feature/Transaction/alpha.transaction.js"></script>

@Html.Partial("_HeaderPartial")
<script type="text/javascript" src="~/Scripts/Feature/Transaction/alpha.transaction.js"></script>
<div class="container theme-showcase margin-bottom" data-ng-controller="tranCtrl" data-ng-init="init()">
    <div class="in row">
        <div class="col-sm-12">

            @Html.Partial("_SideLayout")

            <div class="col-sm-8">

                <table id="TransactionGrid" class="table k-grid-content" style="margin-bottom:8px;"> </table>
                <span style="cursor:default"
                      class="btn btn-default pull-left pagination-arrow"
                      ng-show="transactionGrid.gridInstance.dataSource.total()!=0">
                    No of Records :
                    {{transactionGrid.gridInstance.dataSource.total()}}
                </span>

            </div>
        </div>
    </div>

</div>
