@{
    ViewBag.Title = "Transaction";
    ViewBag.Menu = "Transaction";

}

@section scripts{
    <script type="text/javascript">
        var ROOT = '@Url.Content("~/")';
        var response = {};

    </script>
    <script type="text/javascript" src="~/Scripts/Feature/Register.js"></script>
}
<script type="text/javascript" src="~/Scripts/lib/Telerik/kendo.web.ext.js"></script>
<script type="text/javascript" src="~/Scripts/Feature/Transaction/alpha.transaction.js"></script>

@Html.Partial("_HeaderPartial")
<script type="text/javascript" src="~/Scripts/Feature/Transaction/alpha.transaction.js"></script>
<div class="container theme-showcase margin-bottom" data-ng-controller="tranCtrl" data-ng-init="init()">
    <div class="in row">
        <div class="col-sm-12">

            @Html.Partial("_SideLayout")


            <div class="col-sm-8 section-background">
                <div class="col-sm-12 margin-top">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label for="txtFirst">Filter by account: </label>
                                <select name="ddlAccount"
                                        id="ddlAccount"
                                        class="form-control multiselect"
                                        ng-model="accountIds"
                                        multiple="multiple"></select>
                                <span class="k-invalid-msg" data-for="ddlAccount"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label for="txtFirst">From Date: </label>
                                <input kendo-date-picker
                                       k-format="'MM/dd/yyyy'"
                                       k-parse-formats="MM/dd/yyyy"
                                       id="dtEffective"
                                       name="dtEffective"
                                       class="form-control date-validation datepicker"
                                       placeholder="mm/dd/yyyy"
                                       type="text"
                                       ng-model="FromDate"
                                       pattern="^([1][0-2]|[0][1-9])\/([3][01]|[0-2][0-9])\/(\d{4})$"
                                       style="border:none;box-shadow:none"
                                       only-date />
                                <span class="k-invalid-msg" data-for="ddlAccount"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label for="txtFirst">To Date: </label>
                                <input kendo-date-picker
                                       k-format="'MM/dd/yyyy'"
                                       k-parse-formats="MM/dd/yyyy"
                                       id="dtBenefitEffectiveDate"
                                       name="dtBenefitEffectiveDate"
                                       class="form-control date-validation datepicker"
                                       placeholder="mm/dd/yyyy"
                                       type="text"
                                       ng-model="ToDate"
                                       pattern="^([1][0-2]|[0][1-9])\/([3][01]|[0-2][0-9])\/(\d{4})$"
                                       style="border:none;box-shadow:none"
                                       only-date />
                                <span class="k-invalid-msg" data-for="ddlAccount"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix border-bottom margin-bottom">
                    <button type="submit" class="btn btn-primary pull-right margin-bottom" ng-click="filterGrid()"><span class="glyphicon"></span> Filter</button>
                </div>

                <div class="clear"></div>

                <table id="TransactionGrid" class="table k-grid-content" style="margin-bottom:8px;"> </table>
                <span style="cursor:default"
                      class="btn btn-default pull-left pagination-arrow"
                      ng-show="transactionGrid.gridInstance.dataSource.total()!=0">
                    No of Records :
                    {{transactionGrid.gridInstance.dataSource.total()}}
                </span>

            </div>




                    @*<div id="dropDownTreeView">
                </div>*@
                </div>


            </div>



    <div class="modal fade" id="myModalTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Transaction Edit</h4>
                </div>
                <div class="modal-body">
                        <div >
                            <div class="form-group">
                                <label for="txtNotes">Details : <span class="mandatory">*</span></label>

                                <label class="form-control labelDisable">comming soon to move 134 in shopping.</label>
                            </div>

                            <div class="form-group">
                                <label for="txtNotes">Notes : <span class="mandatory">*</span></label>

                                <textarea name="txtNotes" class="form-control" id="txtNotes" ></textarea>
                                <span class="k-invalid-msg" data-for="txtNotes"></span>
                            </div>
                        </div>

                    <div class="clearfix">
                          <button class="btn btn-primary pull-left" ng-click="showSplit()"><span class="glyphicon"></span> Split</button>
                        
                    </div>
                    <div class="clear"></div>
                    <div class="add-content margin-top">

                        <table cellspacing="0" cellpadding="0" border="0" class="table-grid spanX budget-table-home">
                            <tbody id="split-table">
                                <tr>
                                    <th><a href="#">Walmart</a></th>
                                    <th colspan="2" class="budget-bar"><a href="#">Shopping</a></th>
                                    <th><a href="#">143</a></th>
                                    <th><a href="#"></a></th>
                                </tr>
                                <tr>
                                    <td><label class="form-control split-label labelDisable">Walmart</label></td>
                                    <td colspan="2">
                                        <div class="drop-down"></div>
                                    </td>
                                    <td><input name="txtAccountName" type="text" class="form-control" id="txtAccountName1"></td>
                                    <td><button ng-click="addNewRowForEdit($event)" class="btn btn-primary pull-left"><span class="glyphicon"></span> Split</button></td>

                                </tr>
                                
                            </tbody>
                        </table>



                        </div>

                        <div class="button-block clearfix">
                            <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon"></span> Save</button>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
    });
</script>

