<div class="col-sm-4">
    <h3>Accounts details</h3>
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-info-sign"></span>Cash
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="form-group">
                        <span>Credit 1</span><span class="pull-right">Details</span>
                    </div>
                    <div class="form-group">
                        <span>Credit 1</span><span class="pull-right">Details</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span class="glyphicon glyphicon-info-sign"></span>Credit cards
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-group">
                        <span>Credit 1</span><span class="pull-right">Details</span>
                    </div>
                    <div class="form-group">
                        <span>Credit 1</span><span class="pull-right">Details</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-info-sign"></span>Loans
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p>Ist account</p>
                    <p>IIst account</p>
                    <p>IIIst account</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-info-sign"></span>Can I use special characters?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    Please use only letters, numbers, spaces and hyphens in your answers.
                </div>
            </div>
        </div>
    </div>
</div>
