@{
    ViewBag.Title = "Setting";
    ViewBag.Menu = "Setting";
}
@section styles{

}


@*<script type="text/javascript" src="~/Scripts/Feature/Budget/apha.budget.js"></script>*@


@Html.Partial("_HeaderPartial")

<div class="container theme-showcase margin-bottom">
    <div class="in row">
        <div class="col-sm-12">

            @Html.Partial("_SideLayout")

        </div>
    </div>
</div>
