@{
    ViewBag.Title = "Budget";
    ViewBag.Menu = "Budget";
}
<script src="~/Scripts/Core/angular.js"></script>
<script src="~/Scripts/Custom/App.js"></script>
<script src="~/Scripts/Custom/BudgetCtrl.js"></script>

<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>

<h2>Budget</h2>
<div ng-app="myApp" ng-controller="budgetCtrl">
    <div ng-init="GetAllData()" class="divList">
        <p class="divHead">List of Budget</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>UserId</b>
                </td>
                <td>
                    <b>Type</b>
                </td>
                <td>
                    <b>Month</b>
                </td>
                <td>
                    <b>Year</b>
                </td>
                <td>
                    <b>IsRecuring</b>
                </td>
                <td>
                    <b>Actions</b>
                </td>
            </tr>
            <tr ng-repeat="Bugt in Budget">
                <td>{{Bugt.UserId}}</td>
                <td>{{Bugt.Type}}</td>
                <td>{{Bugt.Month}}</td>
                <td>{{Bugt.Year}}</td>
                <td>{{Bugt.IsRecuring}}</td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateBudget(Bugt)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteBudget(Bugt)" />
                </td>
            </tr>
        </table>
    </div>

    @*Create Budget *@
    <div class="form-horizontal" role="form">
        <div class="container">
            <div class="row">
                <h2>
                    <span id="spn">Add New Budget</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">UserId:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputUserId" placeholder="Name" ng-model="UserId">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Type:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="Type">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Month:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputMonth" placeholder="Month" ng-model="Month">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Year:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputYear" placeholder="Year" ng-model="Year">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">IsRecuring:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputIsRecuring" placeholder="IsRecuring" ng-model="IsRecuring">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("Id")
</div>
